@model NiceShop.Web.Models.Administration.ViewModels.HomeIndexViewModel

@{
    this.ViewData["Title"] = this.Model.Title;
    int index = 1;
}

<vc:sub-layout input-model=@this.Model.ControlPanel></vc:sub-layout>

<h3 class="text-center">@this.ViewData["Title"]</h3>

<table class="table table-hover mt-5">
    <thead class="thead-dark">
        <tr class="text-center">
            <th class="col-1" scope="col">#</th>
            <th class="col-3"><a asp-controller="Home" asp-action="">Продукт</a></th>
            <th class="col-3"><a asp-controller="Home" asp-action="">Категория</a></th>
            <th class="col-2"><a asp-controller="Home" asp-action="">Магазин</a></th>
            <th class="col-1"><a asp-controller="Home" asp-action="">Наличност</a></th>
            <th class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in this.Model.Products)
        {
            <tr class="text-center">
                <th class="col-1" scope="row">@(index++)</th>
                <td class="col-3">@product.Name</td>
                <td class="col-3">@product.CategoryName</td>
                <td class="col-2">@product.ShopName</td>
                <td class="col-1">@product.Count</td>
                <td class="col-2">
                    <div class="col">
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-dark">Edit</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-dark">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>